*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.calculator{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px 30px;
    border-radius: 10px;
}
.display{
    text-align: right;
    padding: 10px 30px;
    font-size: 28px;
    color: #444435;
    margin-bottom: 25px;
    border-bottom: 1px solid #444435;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button{
    padding: 10px;
    margin: 5px;
    height: 60px;
    width: 60px;
    border: none;
    background-color: #424949 ;
    font-size: 19px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    transition: all ease 0.2s;
}

button:hover{
    background-color: #2b2d2d;
}

button:active{
    transform: scale(1.1);
}

.operator{
    background-color: rgb(252, 170, 18);
    transition: all ease 0.2s;
    font-size: 30px;
}

.operator:hover{
    background-color: rgb(248, 184, 65)
}

.operator:active{
    transform: scale(1.1);
}